{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% block link %}
    <!-- <link rel="stylesheet" href="{% static 'main/css/style.css' %}"> -->
    {% endblock %}

</head>
<body>
    <header class="header">
        <a href="/" class="main_page">
            <img src="{% static 'main/img/logo.svg' %}" alt="blog logotype" class="logo">
        </a>
        <div class="two_btns">
            <a href="{% url "write:create_article" %}" class="btn_write_article">Write the article</a>
            {% if request.user.is_authenticated %}
            <a href="{% url "users:logout" %}" class="btn_log_in">Log out</a>
            {% else %}
            <a href="{% url "users:login" %}" class="btn_log_in">Log in</a>
            {% endif %}
        </div>
    </header>

    <main>
        <section>
            <div class="container">
                <div class="articles_field">

                    {% block content%}
                    {% endblock %}
                    
                </div>
            </div>
        </section>
    </main>

    {% block pagination %}
{% endblock pagination %}
</body>
</html>